.tablewrapper {
    overflow-x: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 4px;

}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #EDEBEE;
    border-radius: 4px;

}

.thead{
    text-align: left    ;
}


.tr {
    border-bottom: 1px solid #EDEBEE;
    border-top: 1px solid #EDEBEE;
    border-collapse: collapse;
    background-color: #FBFCFE;
    
}

.th{
    padding: 15px 0;
    font-size: 15px;
    background-color: #ebedef;
    /* background-color: #F0F4F8; */
    padding-left: 10px;

}

.tr:hover{
    /* background-color: #F0F4F8; */
}
.td{
    padding: 15px 0;
    font-size: 15px;
    /* background-color: #FBFCFE; */
    padding-left: 10px;
    margin-bottom:  20px;

}

.btns{
    display: flex;
    /* justify-content: space-between; */
}
.heading{
    text-align: center;
    background-color: #d8dbdc;
    /* background-color: #F0F4F8; */
    padding: 10px 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
}

.expandMargin{
    margin-bottom: 20px;
}
.main{
    border : 1px solid #EBEDEF;
    /* border-radius:  4px; */
    text-align: center;
    padding: 20px 0;
    background-color: #EBEDEF;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.pending{
    font-size: 20px;
    color: #222222;
    font-weight: 500;
}