.more{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    /* padding: 10px 15px; */
    font-size: 16px;
    font-weight: 500;
}

.outer{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #42a5f5;
    /* justify-content: center; */
}