.main{
    /* margin-top: 70px; */
    padding-top: 20px;
    background-color: white;
    /* background-image: url(/hp_bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; */
}

.left{
    /* border: 1px solid lightgray; */
    padding: 20px;
   
}

.mainTop{
    /* background-image: ("/hp_bg.jpg"); */
    background-image: url(/hp_bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.6; */
}

.heading{
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 700;
    padding-bottom : 15px;
}

.desc{
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 4.8rem;
    /* opacity: 0.6; */
    color: #666666;
    font-weight: 400;
    margin-top: 10px;
}

.sliderImg{
    /* object-fit: cover; */
}

.grid{
    width: 100%;
    height: auto;
}

.features{
    /* background-color: #e8f1fa; */
    padding: 70px;
    /* padding-bottom: 80px; */
}

.feat{
    font-size: 3rem;
    line-height: 1;
    color: #333;
    /* letter-spacing: -.5px; */
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
}

.card{
    background-color: #fff;
    /* color: rgba(0, 0, 0, 0.87); */
    color: var(--main-color);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
      0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      transition: background-color 0.3s ease;
}

.card:hover{
    color: white;
    background-color: var(--main-color);
}

.card:hover .cardImg{
    transform: rotate(360deg);
}
.card:hover .cardTitle{
    transform: rotateY(360deg);
}

.cardBody{
    text-align: center;
    padding: 20px;
    display: grid;
    place-items: center;
}

.cardTitle{
    margin-top: 10px;
    font-size: 18px;
    
    font-weight: 500;
    transform-style: preserve-3d; /* Maintain 3D positioning */
    /* transition: transform 0.7s ease; */
}
.cardImg{
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
      0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12); */
    border-radius: 50%;
    transition: transform 0.7s ease; 
    /* width: 100px; */
    
}

.slider{
    /* width: 80%; */
    /* margin: auto; */
}

.about{
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;    
    font-size: 16px;
    line-height: 25px;
}

/* activies */
.activites{
    background: linear-gradient(180deg, #0f7f8f 0, #223c7b);
    padding: 20px 0px;
}

.activityTitle{
    display: inline-block;
    /* padding-right: 10px; */
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;

}
.activityDesc{
    color: #fff;
    margin-top: 10px;
}

.activityCard{
    display: grid;
    place-items: center;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

/* services */
.services{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding: 40px 0;
}

.serviceCard{
    float: left;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    min-height: 250px;
}

.serviceCard:hover{
    background-color: #FAB700;
}
.serviceCardBody{
    padding: 20px;
}
.serviceCardTitle{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.serviceCarddesc{
    font-size: 15px;
}

/* counting */
.countingMain{
    border-top: 1px solid #dfdfdf;
    padding: 40px;
}

.countingCard{
    text-align: center;
    border-right: 1px solid #CECECE;
}
.countingCard1{
    text-align: center;
}

.countingCardBody{
    cursor: pointer;
}
.countingCardImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.countingCardCount{
    margin-left: 5px;
    font-size: 26px;
    font-weight: 700;
}
.countingCardTitle{
    font-weight: 400;
}
.countingCardDesc{
    font-size: 14px;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {

    .countingCard{
        border-right: none;
        margin: 10px 0;
    }
    .heading{
        font-size: 20px;
    }
    .desc{
        font-size: 18px;
        margin-bottom: 0;
    }
    .actTitle{
        padding: 40px 20px 0 0px;
        margin-left: 20px;
    }
}