.input[type="date"] {
  position: relative;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4; 
  padding: 0;
  color: transparent;
  background: transparent;
}

.calendarIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 3; /* Ensure this is higher than the date picker indicator */
  transform: translateY(-50%);
  cursor: pointer;
}

.inputField {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
  .icon {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: block;
    width: 100%;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -moz-appearance: none;
    appearance: none;
    z-index: 4;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .input:focus {
    outline: none;
  }
  
  .title {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    /* color: var(--main-color); */
    margin-bottom: 3px;
  }
  .subtitle {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    /* color: var(--main-color); */
    margin-bottom: 3px;
  }
  